@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Playfair+Display:wght@600&family=Raleway:wght@200&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

:root {
  --border-color: 2px solid black;
  --font-primary: "Playfair Display";
  --font-secondary: "Raleway";
  --background: white;
  --bg-profil: rgb(182, 97, 97);
  --bg-footer: rgb(212, 211, 211);
  --color-primary: black;
  --color-span: white;
  --color-hover: blueviolet;
  --opacity-primary: 0.5;
  --opacity-hover: 1;
}

.dark-theme {
  --border-color: 2px solid white;
  --font-primary: "Playfair Display";
  --font-secondary: "Raleway";
  --background: black; /* coba di rubah*/
  --bg-profil: rgb(182, 97, 97);
  --bg-footer: rgb(212, 211, 211);
  --color-primary: white;
  --color-span: black;
  --color-hover: blueviolet;
  --opacity-primary: 1;
  --opacity-hover: 0.5;
}
body {
  box-sizing: border-box;
  background-color: var(--background);
}

/**================================*/
/**             Header             */
/**================================*/
header {
  position: relative;
  text-align: center;
}

header h3 {
  font-family: var(--font-secondary);
  color: var(--color-primary);
  margin: 40px auto 0 auto;
  font-size: 1.3rem;
  letter-spacing: 10px;
  text-transform: uppercase;
}

header h1 {
  font-family: var(--font-primary);
  color: var(--color-primary);
  margin: 20px auto 40px auto;
  font-size: 8rem;
  text-transform: capitalize;
  line-height: 1.6;
}

h1 span {
  position: absolute;
  font-size: medium;
  color: var(--color-span);
  background-color: var(--color-primary);
  text-align: center;
  top: 40%;
  left: 10%;
  padding: 2px;
}
nav {
  text-align: center;
  border-top: var(--border-color);
  border-bottom: var(--border-color);
  margin-left: 30px;
  margin-right: 30px;
  position: sticky;
  top: 0;
  z-index: 40;
  background-color: var(--background);
}

nav ul {
  display: inline-flex;
  list-style-type: none;
}

ul li {
  padding: 20px 40px;
  width: 6rem;
  cursor: pointer;
}
nav .border {
  border-left: var(--border-color);
  border-right: var(--border-color);
}
.active {
  color: var(--color-hover);
  font-weight: 700;
}
ul li .click {
  font-family: var(--font-secondary);
  text-align: center;
  color: var(--color-primary);
  text-decoration: none;
  font-size: 18px;
}

li a:hover {
  color: var(--color-hover);
  font-weight: 700;
}

ul .social-media {
  padding: 20px 0 20px 0;
  width: 10rem;
  background-color: white;
}

.social-media img {
  width: 20px;
  margin: 0 5px 0 5px;
  opacity: var(--opacity-primary);
  /* height: auto; */
}

.social-media img:hover {
  opacity: var(--opacity-hover);
}

p {
  line-height: 1.6;
}

/**================================*/
/**             Main               */
/**================================*/
.content {
  display: none;
}

.active {
  display: block;
  color: var(--color-primary);
}

.content .container {
  position: relative;
  max-width: 70vw;
  max-height: auto;
  margin: 80px auto;
}

.container h1 {
  position: absolute;
  font-family: var(--font-secondary);
  letter-spacing: 10px;
  text-transform: uppercase;
  width: 12vw;
  padding: 15px;
  text-align: center;
  top: 0;
  border: var(--border-color);
  background-color: var(--background);
}

.container .batas {
  width: 100%;
  height: 2rem;
}

/**============ home image =========== */

.image-container {
  width: 100%;
  display: inline-block;
  left: 0;
  border: var(--border-color);
}

.image-container img {
  width: 100%;
  height: 60vh;
  margin: 0;
  padding-left: 0%;
  object-fit: cover;
  object-position: bottom;
}

/**============ contain-two =========== */
.contain-two {
  text-align: center;
  border-top: var(--border-color);
  border-bottom: var(--border-color);
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 4rem;
  padding: 20px;
}

.contain-two h1 {
  font-size: 3rem;
  text-transform: capitalize;
  font-family: var(--font-primary);
}

/**============ Contain-three =========== */
.contain-three {
  display: flex;
  padding-top: 5rem;
  padding-bottom: 20px;
}
.boxs {
  float: left;
  margin-left: 30px;
  max-width: 70vw;
}

.boxs h1 {
  margin-left: 30px;
  text-transform: uppercase;
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  letter-spacing: 5px;
}

.box {
  display: flex;
  margin: 30px;
  width: auto;
  padding: 20px;
  border: var(--border-color);
}

.box img {
  width: 30vw;
  height: 40vh;
  object-fit: cover;
  object-position: center;
}

.description {
  float: right;
  padding: 20px;
  font-family: var(--font-secondary);
}

.description h3 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 1.5rem;
  text-transform: capitalize;
}

/**============ Aside ============= */

aside {
  width: 30%;
  float: right;
  padding-left: 3rem;
  margin-right: 30px;
  border-left: var(--border-color);
}

aside h1 {
  text-transform: uppercase;
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  letter-spacing: 5px;
}
.box-image {
  margin: 30px 0 0 30px;
  width: 200px;
  padding: 0;
  border: var(--border-color);
}
.box-image .profil {
  width: 100%;
  height: auto;
  margin: 0;
  object-fit: fill;
  object-position: center;
  background-color: var(--bg-profil);
}

aside p {
  text-align: justify;
}

aside a:hover {
  font-weight: 700;
  color: var(--color-hover);
}
/**============ Project =========== */
.project-container {
  margin: 80px 30px;
  color: var(--color-primary);
}

.project-container h1 {
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  letter-spacing: 5px;
}
.box-project {
  display: flex;
  margin: 30px;
  justify-content: space-around;
}

.project {
  display: block;
  width: 40vw;
  border: var(--border-color);
}

.project img {
  margin: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

/**============ About me ============= */

.about-container {
  margin: 80px auto;
  width: 60vw;
  height: auto;
  color: var(--color-primary);
  border: var(--border-color);
}
.about-image {
  text-align: center;
  background-color: var(--bg-profil);
  padding-bottom: 0;
  bottom: 0;
  border-bottom: var(--border-color);
}

.about-image img {
  width: 30%;
  bottom: 0;
  margin-bottom: 0;
}

.about-des {
  padding: 20px;
}

.about-des h3 {
  text-transform: capitalize;
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin: 20px 0;
}

.about-des p {
  margin-bottom: 20px;
  width: 45vw;
  font-family: var(--font-secondary);
}
/**================================*/
/**             Footer             */
/**================================*/
footer {
  bottom: 0;
  padding-top: 10px;
  line-height: 3rem;
  text-align: center;
  height: 2rem;
  background-color: var(--bg-footer);
}

footer p {
  font-family: var(--font-secondary);
}
